<%- include("./partials/header.ejs", {title}) %>

<h1><%= title %></h1>

<form action = "/board" method = "GET">
    <button type = "submit">Create New Board</button>
</form>

<%- include("./partials/footer.ejs") %>